// base.config

// PROCESS RESOURCES
process {


	// top-level configuration groups
	withLabel: "mid" {
    	time = { 20.h * task.attempt }
    	memory = { 8.GB * task.attempt }
    	cpus = 2

	withLabel: "low" {
    	time = { 8.h * task.attempt }
    	memory = { 2.GB * task.attempt }
    	cpus = 2



	// configuration for preprocessing
	withName: "preprocessing" {

		// label 'low'
		
		errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    	maxRetries = 1
	}

	// configuration for preprocessing
	withName: "bedtools_unionbedg" {

		// label 'low'

		errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    	maxRetries = 1
	}

	// configuration for running metilene
	withName: "metilene" {

		// label 'mid'

    	time = { 1.d * task.attempt }
    	memory = { 8.GB * task.attempt }
    	cpus = { 4 * task.attempt }

		errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    	maxRetries = 2
	}

	// configuration for visualisation of distributions
	withName: "distributions" {

		// label 'mid'		

    	errorStrategy = { task.attempt == 1 ? 'retry' : 'ignore' }
    	maxRetries = 1
	}

	// configuration for visualisation of heatmaps
	withName: "heatmaps" {

		// label 'mid'

    	errorStrategy = { task.attempt == 1 ? 'retry' : 'ignore' }
    	maxRetries = 1
	}

}