// base.config

// PROCESS RESOURCES
process {


	// top-level configuration groups
	withLabel: "mid" {
    	time = { 3.h * Math.pow(2, task.attempt) }
    	memory = { 8.GB * task.attempt }
    	cpus = 2
	}

	withLabel: "low" {
    	time = { 3.h * Math.pow(2, task.attempt) }
    	memory = { 2.GB * task.attempt }
    	cpus = 2
	}


	// label processes which should kill the pipeline if they fail
	withLabel: "finish" {
		maxRetries = 3
        errorStrategy = { ->
			if( (task.exitStatus in [140,141,143,137,104,134,139] && task.attempt > 3) || (!(task.exitStatus in [140,141,143,137,104,134,139]) && task.attempt > 1 ) ){
				return 'finish'
			} else if(task.exitStatus in [140,141,143,137,104,134,139]){
				return 'retry'
			} else {
				sleep(Math.pow(2, task.attempt) * 1000 as long);
				return 'retry'
			}
		}
	}

	// label processes which can be safely ignored if they fail
	withLabel: "ignore" {
		maxRetries = 3
        errorStrategy = { ->
			if( (task.exitStatus in [140,141,143,137,104,134,139] && task.attempt > 3) || (!(task.exitStatus in [140,141,143,137,104,134,139]) && task.attempt > 1 ) ){
				return 'ignore'
			} else if(task.exitStatus in [140,141,143,137,104,134,139]){
				return 'retry'
			} else {
				sleep(Math.pow(2, task.attempt) * 1000 as long);
				return 'retry'
			}
		}
	}


	// configuration for running metilene
	withName: "metilene" {

    	memory = { 4.GB * Math.pow(2, task.attempt) }
    	cpus = { 4 * task.attempt }
	}

}