// base.config

// PROCESS RESOURCES
process {


	// top-level configuration groups
	withLabel: "mid" {
    	time = { 3.h * Math.pow(2, task.attempt) }
    	memory = { 8.GB * task.attempt }
    	cpus = 2
	}

	withLabel: "low" {
    	time = { 3.h * Math.pow(2, task.attempt) }
    	memory = { 2.GB * task.attempt }
    	cpus = 2
	}

	// label processes which should kill the pipeline if they fail
	withLabel: "finish" {
        errorStrategy = { task.exitStatus in [140,141,143,137,104,134,139] ?
			(task.attempt > 3 ? 'finish' : 'retry') :
			sleep(Math.pow(2, task.attempt) * 1000 as long); task.attempt > 1 ? 'finish' : 'retry'}
        maxRetries = { task.exitStatus in [140,141,143,137,104,134,139] ? 3 : 1 }
	}

	// label processes which can be safely ignored if they fail
	withLabel: "ignore" {
       errorStrategy = { task.exitStatus in [140,141,143,137,104,134,139] ?
			(task.attempt > 3 ? 'ignore' : 'retry') :
			sleep(Math.pow(2, task.attempt) * 1000 as long); task.attempt > 1 ? 'ignore' : 'retry'}
        maxRetries = { task.exitStatus in [140,141,143,137,104,134,139] ? 3 : 1 }
	}


	// configuration for running metilene
	withName: "metilene" {

    	memory = { 4.GB * Math.pow(2, task.attempt) }
    	cpus = { 4 * task.attempt }
	}

}