/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run epidivere/dmr -profile test
 */


params {

    // disable CHH
    noCHH = true

	// samples file
	samples = "https://github.com/epidiverse/datasets/raw/dmr/samples.tsv"

    // set CpGPaths parameter (only available in test profile)
    CpGPaths = [
    ['sampleA_1', 'https://github.com/epidiverse/datasets/raw/dmr/CpG/sampleA_1_CpG.bedGraph'],
    ['sampleA_2', 'https://github.com/epidiverse/datasets/raw/dmr/CpG/sampleA_2_CpG.bedGraph'],
    ['sampleB_1', 'https://github.com/epidiverse/datasets/raw/dmr/CpG/sampleB_1_CpG.bedGraph']
    ]

    // set CHGPaths parameter (only available in test profile)
    CHGPaths = [
    ['sampleA_1', 'https://github.com/epidiverse/datasets/raw/dmr/CHG/sampleA_1_CHG.bedGraph'],
    ['sampleA_2', 'https://github.com/epidiverse/datasets/raw/dmr/CHG/sampleA_2_CHG.bedGraph'],
    ['sampleB_1', 'https://github.com/epidiverse/datasets/raw/dmr/CHG/sampleB_1_CHG.bedGraph']
    ]
}
